@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Caramel&family=Poiret+One&family=Quicksand:wght@300&family=Signika:wght@300&family=Titan+One&display=swap');

@font-face {
    font-family: 'Manuscribe Free Ita0';
    font-style: normal;
    font-weight: normal;
    src: local('Manuscribe Free Ita0'), url('DoughImg/manuscribe-free-cufonfonts-webfont/ManuscribeFree-Regular.woff') format('woff');
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(DoughImg/josefin-sans/JosefinSans-Regular.ttf);
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
input{
    all:unset;
}
.login_container{
    display: flex;
    width: 80%;
    margin: auto;
}
.login_cont{
    width: 40%;
}
.login_img{
    width: 60%;
    background-image: url("DoughImg/login_img2.jpeg");
    height: 408px;
}
.dark{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.login_brand{
    font-family: 'Manuscribe Free Ita0';
    color: white;
    font-size: 50px;
    width: fit-content;
    margin: auto;
}
.login_wlcm1{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    /* text-align: center; */
}
.login_wlcm2{
    font-family: 'Quicksand', sans-serif;
    color: rgb(84, 84, 84);
    /* text-align: center; */
    margin-top: 5px;
}
.login_cred{
    margin-top: 20px;
}
.cred_title{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: rgb(84, 84, 84);
}
.cred_entry{
    border: 0.3px solid rgb(71, 71, 71);
    width: 70%;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding: 5px;
}
.login_btn{
    margin-top: 20px;
}
.signin_btn{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.6px solid black;
    padding: 8px 15px 8px 15px;
}
.signin_btn:hover{
    color: white;
    background-color: rgb(6, 163, 0);
    border: none;
}
.signup{
    font-family: 'Quicksand', sans-serif;
    color: rgb(84, 84, 84);
    margin-top: 40px;
}
.signup_btn{
    color: rgb(6, 163, 0);
}
