@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Caramel&family=Poiret+One&family=Quicksand:wght@300&family=Signika:wght@300&family=Titan+One&display=swap');

@font-face {
    font-family: 'Manuscribe Free Ita0';
    font-style: normal;
    font-weight: normal;
    src: local('Manuscribe Free Ita0'), url('DoughImg/manuscribe-free-cufonfonts-webfont/ManuscribeFree-Regular.woff') format('woff');
}
@font-face {
    font-family: 'JosefinSans-Regular';
    src: url(DoughImg/josefin-sans/JosefinSans-Regular.ttf);
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
input{
    all:unset;
}
.signup_container{
    width: 80%;
    margin: auto;
    display: flex;
}
.signup_cont{
    width: 40%;
}
.signup_img{
    background-image: url("DoughImg/signup_img2.jpeg");
    height: 579px;
    width: 60%;
}
.dark{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.signup_brand{
    color: white;
    font-family: 'Manuscribe Free Ita0';
    font-size: 50px;
    text-align: center;
}
.signup_wlcm1{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    /* text-align: center; */
}
.signup_wlcm2{
    font-family: 'Quicksand', sans-serif;
    color: rgb(84, 84, 84);
    /* text-align: center; */
    margin-top: 5px;
}
.signup_cred{
    margin-top: 20px;
}
.cred_title{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: rgb(84, 84, 84);
}
.cred_entry{
    border: 0.3px solid rgb(71, 71, 71);
    width: 70%;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding: 5px;
}
.signup_btn{
    margin-top: 20px;
}
.signup{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: white;
    border: 0.6px solid black;
    padding: 8px 15px 8px 15px;
}
.signup:hover{
    color: white;
    background-color: rgb(6, 163, 0);
    border: none;
}
@keyframes warn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
